@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Manufacture CSI Endpoint</h1>
    <p>A <a href="https://www.dlr360.com">Dealer360</a> CSI implimentation</p>
</div>
